[xfdesktop-version-4.10.3+-rcfile_format]
4.10.3+=true

[/home/geoteo/Desktop/computability_notes]
row=4
col=0

[/home/geoteo/Desktop/matteogiorgi.github.io]
row=0
col=0

[/home/geoteo/Desktop/new_shit]
row=1
col=0

[/home/geoteo/Desktop/old_shit]
row=2
col=0

[/home/geoteo/Desktop/cv]
row=3
col=0

