show_frame=true
fg_set=false
bg_set=false
timezone=
width_set=false
height_set=false
lines_vertically=true
rotation=0
data0=\ %H:%M\ 
font0=Ubuntu Bold 10.7998046875
tooltip=%a %d %b
hib_timing=false

